#
# App config
#
PORT=5050

#
# TypeORM configuration
#
TYPEORM_CONNECTION=postgres
TYPEORM_HOST=postgres
TYPEORM_USERNAME=postgres
TYPEORM_PASSWORD=postgres
TYPEORM_DATABASE=postgres
TYPEORM_PORT=5432
TYPEORM_SYNCHRONIZE=false
TYPEORM_MIGRATIONS_RUN=true
TYPEORM_LOGGING=false
TYPEORM_DRIVER_EXTRA={}